@font-face {
    font-family: 'StarbaseFont';
    src: url('./StarBaseFont.otf') format('opentype');
}

body {
    font-family: 'StarbaseFont';
    color: #e2e9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b2023;

    overflow: hidden;
}

/* ------------------------------- Toolbars ------------------------------- */
.toolbar-container {
    display: flex;
    flex-direction: row;

    margin-top: 4px;
    margin-bottom: 4px;

    user-select: none;
}

.toolbar-element {
    font-family: inherit;
    font-size: 16px;
    font-weight: 100;
    color: inherit;

    border: none;
    background-color: transparent;
    text-decoration: none;

    background-color: #2d343d;

    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    /* scale text after wrap */
    text-overflow: ellipsis;


    transition: background-color 0.2s, box-shadow 0.2s;
}

.toolbar-element:first-child {
    padding-left: 15px;
}

.toolbar-element:last-child {
    padding-right: 15px;
}

.toolbar-container:first-of-type .toolbar-element:first-child {
    border-top-left-radius: 15px;
}

.toolbar-container:first-of-type .toolbar-element:last-child {
    border-top-right-radius: 15px;
}

.toolbar-container:last-of-type .toolbar-element:first-child {
    border-bottom-left-radius: 15px;
}

.toolbar-container:last-of-type .toolbar-element:last-child {
    border-bottom-right-radius: 15px;
}

.toolbar-element input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(66, 79, 107);
    box-shadow: inset 0px 0px 20px rgba(27, 32, 35, 0.5), 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.clear-all:hover,
.clear-layer:hover {
    background-color: rgb(148, 44, 44);
    box-shadow: inset 0px 0px 20px rgba(27, 32, 35, 0.8), 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

.toolbar-bottom:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.toolbar-bottom:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* ------------------------------- Slider Inputs ------------------------------- */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    height: 14px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, grey, #ffffff);
    border: solid 2px #e2e9ff;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, grey, #ffffff);
    border: solid 2px #e2e9ff;
    cursor: pointer;
}

.hue-slider {
    background: linear-gradient(to right, red, #FF8000, yellow, #80FF00, lime, #00FF80, cyan, #0080FF, blue, #8000FF, violet, #FF0080, red);
}

.scale-slider {
    transform: scaleX(-1);
    background: linear-gradient(-3deg, #2d343d 25%, transparent 30%),
        linear-gradient(-177deg, #2d343d 25%, transparent 30%),
        linear-gradient(to left, #7e7e7e 99%, #7e7e7e);
}

/* ------------------------------- Number Inputs ------------------------------- */
.toolbar-element input[type=number] {
    font-family: inherit;
    color: inherit;
    font-size: inherit;

    width: 50px;
    text-align: center;
    height: 28px;

    background-color: inherit;
    border: none;
}

/* ------------------------------- Selection box ------------------------------- */
.selection-box {
    display: flex;
    position: absolute;
    border: 2px solid yellow;
    pointer-events: none;
    z-index: 5;
}

.selection-box:focus {
    outline: none;
}

/* ------------------------------- Grid ------------------------------- */
#grid-wrapper {
    margin-top: 10px;
    position: relative;
    border: 1px solid #444;
    background-color: black;
}

#grid-wrapper:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: black;
    z-index: -1;
}

.grid-container {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: hsl(100, 100, 50);
}

.grid-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    user-select: none;
    caret-color: transparent;
    cursor: default;
    border: none;
}

.grid-square.selected {
    user-select: none;
}

.grid-square.grid-outline {
    border: 2px solid hsla(0, 0%, 27%, 0.5);
}

/* ------------------------------- Confirmation Modal ------------------------------- */

.modal {
    font-family: 'StarbaseFont';
    color: #e2e9ff;

    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    user-select: none;
}

.modal-content {
    font-family: 'StarbaseFont';
    color: #e2e9ff;

    background-color: #2d343d;
    margin: 40% auto;
    padding: 20px;
    width: 30%;
    min-width: 450px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 20px rgba(27, 32, 35, 0.8), 5px 5px 3px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.modal-content button {
    font-family: 'StarbaseFont';
    color: #e2e9ff;
    font-size: 16px;

    min-width: 100px;

    background-color: #4d646d;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border: none;
    cursor: pointer;

    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

[id*="confirm-pos"]:hover {
    background-color: rgb(61, 74, 102);
    box-shadow: inset 0px 0px 20px rgba(27, 32, 35, 0.5), 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

[id*="confirm-neg"]:hover {
    background-color: rgb(148, 44, 44);
    box-shadow: inset 0px 0px 20px rgba(27, 32, 35, 0.8), 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

/* ------------------------------- Attribution ------------------------------- */
.made-by {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    padding: 10px;
    color: #fff;
}

/* ------------------------------- Toast ------------------------------- */

.toast {
    font-family: 'StarbaseFont';
    color: #e2e9ff;

    position: fixed;
    z-index: 10;

    padding: 7px;

    left: 10px;
    background-color: rgba(45, 52, 61, 0.2);
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);

    opacity: 0; /* Initially hidden */
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth fade-in and fade-out */
}

.toast.show {
    opacity: 0.6; /* Fully visible */
    visibility: visible; /* Ensure the element is interactable */
}


